@media (max-width: 1024px){
  .news__item{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 100px;
  }
  .news__comment-title{
    margin: 5px 0;
  }
}
@media (max-width: 767px){
  .categories__wrapper{
    flex-wrap: wrap;
  }
  .deals__wrapper{
    flex-wrap: wrap;
    padding: 0 20px;
  }
  .deals__item{
    font-size: 14px;
    margin-left: auto;
  }
  .deals__item + .deals__item{
    margin-left: auto;
  }
  .deals__price{
    margin-top: 5px;
  }
}
@media (max-width: 576px){
  .header__wrapper{
    flex-direction: column;
  }
  .header__center{
    max-width: 80%;
    margin: 20px 0;
  }
  .header__form-input{
    font-size: 14px;
    padding: 15px;
  }
  .header__right{
    margin-bottom: 20px;
  }
  .deals__item{
    margin: 0 auto;
  }
  .news__wrapper{
    display: block;
  }
  .news__item{
    margin: 0 auto 80px;
  }
  .news__item + .news__item{
    margin-left: auto;
  }
  .news__item-img{
    max-width: none;
  }
  .news__item-date{
    font-size: 12px;
    padding: 6px;
  }
}
@media (max-width: 480px){
  .promo__wrapper{
    display: block;
    padding: 10px;
  }
  .promo__right{
    display: flex;
  }
  .news__item{
    margin-bottom: 100px;
  }
  .news__item + .news__item{
    margin-left: 0;
  }
}
@media (max-width: 376px){
  .categories__item{
    margin: 0 auto;
  }
}