@import "fonts";
@import "vars";
html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-size: inherit;
}
body{
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  font-family: Roboto, sans-serif ;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  background-color: #fafafa;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 14px;
}
section {
  position: relative;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.title{
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
.header{
  margin: 30px 0;
  &__wrapper{
    background-color: $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__center{
    width: 782px;
    margin: 29px 0 25px;
    position: relative;
  }
  &__form-input{
    padding: 15px 0 15px 50px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
  }
  &__form-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 54px;
    height:100%;
    background-color: $orange;
    &::before{
      content: '';
      width: 21px;
      height: 21px;
      position: absolute;
      left: 16px;
      top: 16px;
      background-image: url("../images/search-icon.svg");
    }
  }
  &__right{
    display: flex;
  }
  &__right-img{
    margin: 0 15px;
    cursor: pointer;
  }
}
.promo{
  &__wrapper{
    display: flex;
    justify-content: space-around;
  }
  &__left{
    position: relative;
  }
  &__left-item{
    max-width: 964px;
    img{
      width: 100%;
    }
  }
  .promo__left-right {
    position: absolute;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
  }
  .promo__left-left {
    position: absolute;
    bottom: 40px;
    left: 40px;
    cursor: pointer;
  }
  &__right-item{
    max-width: 300px;
    img{
      width: 100%;
    }
  }
}
.categories{
  margin: 54px 0 96px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item-img{
    max-width: 177px;
    img{
      width: 100%;
    }
  }
  &__item-title{
    font-size: 16px;
    line-height: 18px;
  }
}
.deals{
  margin-bottom: 60px;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  &__item + .deals__item{
    margin-left: 45px;
  }
  &__img{
    max-width: 242px;
    img{
      width: 100%;
    }
  }
  &__stars{
    max-width: 122px;
    margin-bottom: 11px;
    img{
      width: 100%;
    }
  }
  &__price{
    margin-top: 12px;
  }
  &__price span{
    color: #999;
    text-decoration: line-through;
    margin-left: 9px;
  }
}
.news{
  margin-top: 90px;
  &__wrapper{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__item + .news__item{
    margin-left: 32px;
  }
  &__item-img{
    position: relative;
    max-width: 405px;
    &>img{
      width: 100%;
    }
  }
  &__item-date{
    position: absolute;
    left: 19px;
    top: 19px;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 19px 12px 16px;
    background-color: $orange;
    border-radius: 5px;
  }
  &__item-comment{
    max-width: 375px;
    position: absolute;
    left: 15px;
    right: 15px ;
    top: 76%;
    background-color: #fff;
    padding: 20px 13px 13px 13px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
  }
  &__comment-quantity{
    color: $grey;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center ;
    img{
      margin-right: 7px;
    }
  }
  &__comment-title{
    margin: 13px 0 9px 0;
    font-weight: 700;
  }
  &__comment-text{
    color: $grey;
    font-size: 14px;
    line-height: 16px;
  }
}
.modal{
  display: none;
  position: fixed;
  top: calc(50vh - 140px);
  left: calc(50% - 245px);
  max-width: 490px;
  max-height: 280px;
  padding: 50px 45px 54px;
  border-radius: 5px;
  background-color: $grey;
  z-index: 200;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top-title{
    margin: 0 auto 13px;
  }
  &__form-close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &__input{
    border: none;
    padding: 11px 25px;
    font-size: 14px;
    line-height: 18px;
  }
  &__input{
    width: 100%;
    margin-bottom: 9px;
  }
  &__btn{
    width: 100%;
    background-color: $dark;
    color: #fff;
    padding: 10px;
    transition: all 0.5s ease;
    &:hover{
      color: $orange;
    }
  }
}
.fadeIn, .fadeOut{
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity:1;
    visibility: visible;
  }
}
.fadeIn {
  animation-name: fadeIn;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity:0;
    visibility: hidden;
  }
}
.fadeOut {
  animation-name: fadeOut;
  opacity: 0;
  visibility: hidden;
}
input:invalid {
  border-color: red;
}
@import "media";